altair
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
Faker
favicon
fonttools
gitdb
GitPython
htbuilder
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
more-itertools
numpy
packaging
pandas
Pillow
protobuf
pyarrow
pydeck
Pygments
pymdown-extensions
Pympler
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
referencing
requests
rich
rpds-py
six
smmap
soupsieve
st-annotated-text
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
keras==3.3.3
numpy==1.26.4
scipy==1.13.1
matplotlib==3.9.0
streamlit==1.35.0
tensorflow==2.16.1
tifffile==2024.5.22
opencv-python==4.9.0.80